body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: #000000;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

ul, li {
    display: block;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

header a {
    color: #000000;
}

.navbar {
    display: flex;
    border-bottom: black 1px solid;
}

.navbar h1 {
    tab-size: 30px;
}

.menu {
    display: flex;
    margin-left: auto;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
}

