body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Slab', serif;
    color: #000000;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

ul, li {
    display: block;
}

.container {
    width: 1060px;
    margin: 0 auto;
}

header {
    margin-bottom: 53px;
}

header a {
    color: #000000;
}

.navbar {
    height: 49px;
    display: flex;
    border-bottom: black 1px solid;
}

.navbar h1 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
}

.menu {
    display: flex;
    margin-left: auto;
    padding: 0;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.section {
    margin-bottom: 99px;
}

.offer {
    display: flex;
    width: 949px;
    margin-bottom: 133px;
}

.offer-text h2 {
    margin-top: 51px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
}

.offer-text p {
    margin-top: 12px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 180%;
    width: 528px;
}

.buttons {
    margin-top: 21px;
    display: flex;
}

.buttons a {
    text-decoration: none;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    padding: 8px 20px 8px 20px;
}

.button1 {
    background-color: #09936F;
    width: 132px;
    height: 21px;
}

.button2 {
    background-color: #FFCC51;
    width: 154px;
    height: 21px;
    margin-left: 14px;
}

.button3 {
    margin: 0 auto;
    background-color: #09936F;
    width: 132px;
    height: 21px;
}

.offer-img {
    margin-left: auto;
}

.cards-title {
    width: 615px;
    margin-left: 222px;
    margin-bottom: 52px;
}

.cards-title h2 {
    display: flex;
    flex-direction: row;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
}

.cards-title h2:before, .cards-title h2:after{
    content: "";
    flex: 1 1;
    border-bottom: 2px solid;
    margin: auto;
}

.cards-title h2:before {
    margin-right: 40px;
}

.cards-title h2:after {
    margin-left: 40px;
}

.cards-all {
    display: flex;
    margin-bottom: 62px;
}

.cards a {
    text-decoration: none;
}

.cards h3 {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #000000;
}

.card p {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
    color: #000000;
    width: 250px;
}

.card {
    margin-right: 21px;
}

.card:last-child {
    margin-right: 0px;
}

.footer {
    background: #2E2E2E;
}

.text h1 {
    display: inline-block;
    margin-top: 50px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    color: #FFFFFF;
    width: 80px;
    height: 50px;
}

.text p {
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    width: 396px;
    margin-bottom: 15px;
}

.social ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.social li {
    width: 28px;
    height: 28px;
    margin-right: 10px;
    margin-bottom: 95px;
}
